.contact-wrapper {
  /*  background-image: url(https://newevolutiondesigns.com/images/freebies/dog-wallpaper-3.jpg);
  background-size: cover; */
}
.contact-container h1 {
  text-align: center;
  font-weight: lighter;
}
.contact-container label {
  font-size: calc(10px + 2vmin);
  font-weight: lighter;
}

.contact-container {
  margin: 2% 10%;
}

/* Style inputs with type="text", select elements and textareas */
.contact-container input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid rgb(172, 172, 172); /* Gray border */

  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}
.contact-container textarea {
  min-height: 200px;
}

/* Style the submit button with a specific background color etc */
.contact-container input[type="submit"] {
  background-color: #519e8a;
  color: #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
  border: 0px;
  cursor: pointer;
}

/* Add a background color and some padding around the form */
.contact-container {
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);

  padding: 20px;
}
